.leftSide{
    height: 100vh;
    width: 200px;
    border-right: 1px solid #dddddd;
    padding: 2rem;
}
.leftSide-header{
    font-size: 1.8rem;
    font-weight: 600;
}
.leftSide-brandName{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.brandName{
    margin: 0.2rem;
}